<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Youtube</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <div class="nav-left">
            <div class="menu">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="logo">
                <div class="logo_red">▶</div>
                <span>Youtube</span>
            </div>
        </div>
        <div class="nav-mid">
            <div class="search-box">
                <input type="text" placeholder="Search Your Quary">
                <span>🔍</span>
            </div>
        </div>
        <div class="nav-right"></div>
    </nav>
</body>

</html>