<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/t_style.css">
    <link rel="stylesheet" href="./CSS/t_style2.css">
    <title>Simple_Template</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Simple_Template</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02"
                aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: white;" href="./blog.html">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-4 fw-bold lh-1">I am Your Name</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem soluta repudiandae eligendi
                    delectus id itaque unde, placeat quasi, perferendis nihil repellat quia dolore reiciendis porro aut?
                    Quia obcaecati officiis facere voluptatem eos blanditiis odio ut dicta est, temporibus ad maiores
                    nam aliquid numquam. Autem quisquam praesentium, iste magni natus quas fuga distinctio repellendus
                    magnam ab necessitatibus error facere, nam facilis odit provident rerum. Sint sed, repellendus ut
                    consequatur dolor itaque?</p>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3 w-75 rounded-3" src="./Images/unsplash-photo-1.jpg" alt="photo">
            </div>
        </div>
    </div>
</body>

</html>