{% extends 'base.html' %}
{% block title %}Blog Page!{% endblock title %}
{% block body %}
<div class="bg-success" style="height: 100vh;">
    <div class="container-fluid pt-2">
        <!-- <div class="row">
            <div class="col mb-2 mt-2">
                <div class="card border-danger border-4 bg-dark text-white" style="width:20rem;">
                    <h5 class="card-header border-danger border-4">HTML TUTORIAL FOR BEGGINERS IN 2022.</h5>
                    <div class="card-body">
                        <h5 class="card-title">HTML Cheetsheet in 2022</h5>
                        <p class="card-text"><b>HTML</b> Stands for <b>Hyper Text Markup Language</b>. <b>HTML</b> is
                            the
                            language of
                            Web...</p>
                        <a href="#" class="btn btn-outline-danger">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2 mt-2">
                <div class="card border-danger border-4 bg-dark text-white" style="width:20rem;">
                    <h5 class="card-header border-danger border-4">CSS TUTORIAL FOR BEGGINERS IN 2022</h5>
                    <div class="card-body">
                        <h5 class="card-title">CSS Cheetsheet in 2022</h5>
                        <p class="card-text"><b>CSS</b> Stands for <b>Cascading Style Sheets</b>. <b>CSS</b> is use to
                            style
                            the Web Application...</p>
                        <a href="#" class="btn btn-outline-danger">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col mb-2 mt-2">
                <div class="card border-danger border-4 bg-dark text-white" style="width:20rem;">
                    <h5 class="card-header border-danger border-4">JAVASCRIPT TUTORIAL FOR BEGGINERS IN 2022</h5>
                    <div class="card-body">
                        <h5 class="card-title">JS Cheetsheet in 2022</h5>
                        <p class="card-text"><b>JAVASCRIPT</b> is the Programming Language. JAVASCRIPT is used Client
                            Side
                            and Server Side...</p>
                        <a href="#" class="btn btn-outline-danger">Read More</a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col">
                <div class="card border-3 border-dark">
                    <div class="card-header border-3 border-dark">
                        HTML
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">HTML Tutorial</h5>
                        <p class="card-text">HTML Stands for Hyper Text Markup Language. HTML is a Language of Web. It is used to create a Website.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-3 border-dark">
                    <div class="card-header border-3 border-dark">
                        CSS
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">CSS Tutorial</h5>
                        <p class="card-text">CSS Stands for Cascading Style Sheet. We need CSS to design a website. Add style to it and make it look beautiful.</p>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}