{% extends 'base.html' %} {% block body %}

<div class="bd-example container mt-4">
  <h1 class="text-center mb-4">Contact Us!</h1>
  <form>
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        name="email"
        placeholder="name@example.com"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="number"
        class="form-control"
        id="floatingPassword"
        name="password"
        placeholder="Password"
      />
      <label for="floatingPassword">Phone Number</label>
    </div>
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingPassword"
        name="phone"
        placeholder="Password"
      />
      <label for="floatingPassword">Message</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        name="message"
        placeholder="Password"
      />
      <label for="floatingPassword mb-3">Password</label>
    </div>
    <button type="submit" class="btn btn-outline-success mt-3">
      Contact Us!
    </button>
  </form>
</div>
{% endblock body %}
