{% extends 'base.html' %} 
{% block title %}Home Page!{% endblock title %}
{% block body %}
<h1>Home Page is the Best Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus at
  dignissimos? Molestiae sapiente, quis quisquam suscipit sunt iste laborum ad
  excepturi adipisci dolor consectetur aspernatur fugit beatae saepe, odio optio
  hic aliquam non. Quia, maxime. Modi consequuntur natus fugit quia repellendus
  odio esse quam, maiores consequatur. A mollitia, sapiente numquam beatae
  architecto earum veniam in. Nobis, numquam. Recusandae, quia, esse ex eveniet
  architecto minima quam quibusdam optio ipsum molestiae beatae neque. Soluta
  dolores voluptate quia dolore laborum possimus corrupti culpa neque sit,
  similique mollitia. Tempora adipisci velit aliquid obcaecati perferendis saepe
  voluptatibus quaerat! Velit officiis incidunt et tempore, nobis veniam quos
  sint illum sunt eaque voluptate, eius autem saepe impedit explicabo
  consequatur reiciendis a. Voluptatem et iure quaerat eveniet consectetur natus
  saepe adipisci, amet quia unde mollitia dolores porro culpa libero pariatur.
  Explicabo nulla iure earum quis atque tenetur, voluptatibus iste assumenda
  praesentium dolorem suscipit alias, similique tempora recusandae modi, id
  officiis delectus temporibus? Ipsam iusto quibusdam necessitatibus magnam
  reprehenderit fugiat doloremque deleniti reiciendis, alias accusantium odio
  magni molestias asperiores iste hic error sit quae similique eligendi
  aspernatur mollitia dolore animi odit inventore! Laudantium vitae iusto, autem
  ratione doloribus deleniti, quasi ex ducimus iure veniam saepe ea facere
  blanditiis, dolorem nesciunt eius repellat cum dicta perspiciatis consequatur
  ipsam tempora laboriosam. Assumenda omnis unde sint sequi et nam beatae cum ex
  fuga? Veritatis laborum nostrum nemo, ad placeat ea quis! Aut tempore nesciunt
  cumque nam magnam excepturi suscipit debitis laboriosam dolorum fuga laborum
  porro unde corrupti voluptatem ut, illum sapiente reprehenderit dolor itaque
  esse officiis numquam. Rem, perspiciatis. Nihil asperiores cumque eaque
  delectus placeat voluptatem autem, aliquid odio, commodi, libero modi quis aut
  rerum! Aliquam beatae amet assumenda vel distinctio! Expedita, hic fuga neque
  vero et porro laborum sit eveniet consequuntur voluptatem inventore nulla
  earum accusamus? Ipsum iure voluptates tempore vitae maiores error impedit
  harum? Nostrum doloremque nihil, earum porro beatae at delectus iure impedit
  eius, voluptates aspernatur assumenda, eum aliquam quisquam aliquid
  reiciendis? Cumque, quam et delectus eius sint perferendis praesentium,
  expedita optio enim quisquam magnam, ipsam totam maiores soluta asperiores
  saepe? Ab blanditiis eveniet quidem quisquam unde animi deserunt rem, dolor
  soluta ratione quod a corporis. Vel alias totam ad explicabo neque! Modi,
  molestias dolor. Minima ab sint harum dicta eaque ut natus sunt dolor error
  nobis asperiores beatae aliquam debitis ipsam libero, ipsum excepturi in
  voluptates delectus, laborum voluptate dolorem facilis. Voluptatum quia quam
  quibusdam veritatis, aliquam praesentium ipsa, ea dicta esse saepe laborum
  asperiores, hic quod. Quod veniam nam tempore autem amet illum nemo nisi atque
  animi blanditiis fugiat laudantium ut consequuntur tempora, sequi rem eum
  earum quos recusandae dolorum cumque quibusdam placeat hic tenetur! Ea, sunt
  neque sint earum maiores autem voluptas excepturi doloribus ad error, dolore
  asperiores eos accusamus, sed et nam sit ipsa cum voluptatem. Aliquid quisquam
  praesentium explicabo asperiores reiciendis numquam culpa similique nobis
  deleniti. Nostrum consequatur facere unde, eius quis ratione ducimus animi,
  dolore distinctio nobis dolorem, rem magni corrupti obcaecati. Possimus
  impedit delectus accusamus, dolor nobis mollitia adipisci fugiat aspernatur.
</p>
{% endblock body %}
