{% extends 'base.html' %}
{% block title %}My Profile Page!{% endblock title %}
{% block body %}
<h1 class="text-center mb-3">SignUp</h1>
<form action="{% url 'signup' %}" method="POST" class="container">
    {% csrf_token %}
    <div class="row mb-1">
        <div class="col">
            <label class="form-label">Username</label>
            <input type="text" name="username" disabled value="{{user.username}}" class="form-control disabled" placeholder="Username" aria-label="username"
                id="username" required />
        </div>
        <div class="row mb-1">
            <div class="col">
                <label class="form-label">First Name</label>
                <input type="text" name="firstname" disabled class="form-control disabled" placeholder="First Name" value="{{user.first_name}}"
                    aria-label="first name" id="firstname" required />
            </div>
            <div class="col">
                <label class="form-label">Last Name</label>
                <input type="text" name="lastname" disabled class="form-control disabled" placeholder="Last Name" value="{{user.last_name}}" aria-label="last name"
                    id="lastname" required />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <label class="form-label">Email</label>
                <input type="text" name="email" disabled class="form-control disabled" placeholder="Email" value="{{user.email}}" aria-label="email"
                    id="lastname" required />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control disabled" placeholder="Password"
                    aria-label="Password" id="password" required disabled value="{{user.password}}" />
            </div>
        </div>
</form>
{% endblock body %}