<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="t_style.css">
    <title>Templates</title>
</head>

<body style="overflow-x: hidden;">
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">P_template</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center w-100 mx-2 my-2">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Simple_Templates</h4>
                </div>
                <div class="card-body">
                    <img src="./Images/T_1st.png" alt="snake">
                    <p>Simple_Template is Create a Bootstrap.</p>
                    <a href="./TemplateZipFile/Simple_Template.zip" download class="w-100 btn btn-lg btn-outline-primary">Download Simple_Template(ZIP
                        FILE)</a>
                        <a href="./Simple_Template/index.html" target="_blank" class="w-100 btn btn-lg btn-outline-dark my-2">Preview</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Snake_Templates</h4>
                </div>
                <div class="card-body">
                    <img src="./Images/T_1st.png" alt="snake">
                    <p>Snake_Template is Create a Tailwind CSS.</p>
                    <a href="#" class="w-100 btn btn-lg btn-outline-primary">Download Snake_Template (ZIP
                        FILE)</a>
                        <a href="./Snake_Template/index.html" target="_blank" class="w-100 btn btn-lg btn-outline-dark my-2">Preview</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>