{% extends '../playlist/pythonProject/pthonProjectBase.html' %}
{% block title %}Random Password Generator In Python{% endblock title %}
{% block PPBody %}
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, dolore enim rem necessitatibus autem asperiores. Nobis quaerat ex natus at vero inventore praesentium deleniti, voluptatibus ipsam eum eius facere iure laboriosam consequatur distinctio ea, quasi nemo a. Provident modi atque, debitis culpa aliquam iure ipsa, assumenda voluptatibus sequi velit laboriosam at error accusamus, sit veniam laborum quisquam. Asperiores, blanditiis soluta.
{% endblock PPBody %}