<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CodingClassBySourabh</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/course">Course Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Page</a>
        </li>
      </ul>
      <div class="d-flex">
        {% if not user.is_authenticated %}
        <a href="/signup" class="btn btn-outline-warning" type="submit">SignUp</a>&nbsp;
        <a href="/login" class="btn btn-outline-warning" type="submit">LogIn</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-outline-success">Logout</a>
        {% endif %}
      </div>
      {% if user.is_authenticated %}
      <h4 class="nav-item dropdown">
        <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{user.get_full_name}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="/myprofile">My Profile</a></li>
        </ul>
      </h4>
      {% endif %}
    </div>
  </div>
</nav>